<!doctype html>
<html>
    <body>
        <h1>Signup</h1>
        <form method='POST'>

            <label>Username:
                <input name="user-name" type="text" value='{{user}}' />
            </label>
            <p class="error">{{username_error}}</p>

            <br>

            <label>Password:
                <input name="password" type="password" />
            </label>
            <p class="error">{{password_error}}</p> 
            

            <br>

            <label>Verify password:
                <input name="password-conf" type="password" />
            </label>
            <p class="error">{{password_conf_error}}</p> 
            

            <br>

            <label>Email (optional):
                <input name="email" type="text" />
            </label>
            <p class="error">{{email_error}}</p> 
            

            <br>

            <input type="submit" />
        </form>
    </body>
</html>